@model HSchool.Business.Models.Subject
<h2 id="headAdminEditText">Add/Edit Subject </h2>
<div class="form-group-expand-div admin-form">
    <div class="form-container">
        @using (Html.BeginForm("EditSubject", "Admin", FormMethod.Post, new { @id = "formSubjectEdit" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.SubjectId)
            <div class="row custom-row clearfix">
                <div class="col-md-12 custom-text">
                    @Html.LabelFor(m => m.SubjectName)
                    @Html.TextBoxFor(m => m.SubjectName, new { @class = "clsTextBox required", @id = "" })
                    <i class="fa validationResult"></i>
                </div>
            </div>
            <div class="btn-wrapper clearfix">
                <div class="pull-right">
                    <input type="button" value="Cancel" class="btn-grey" onclick="adminView.subjects.editCancel()" />

                </div>
                <div class="pull-right">
                    <input class="btn-blue" type="button" value="Save" onclick="adminView.subjects.saveSubject()" />
                </div>
            </div>
        }
    </div>
</div>
