@model HSchool.Business.Models.Section
<h2 id="headAdminEditText">Add/Edit Section </h2>
<div class="form-group-expand-div admin-form">
    <div class="form-container">
        @using (Html.BeginForm("EditSection", "Admin", FormMethod.Post, new { @id = "formSectionEdit" }))
        {
            <div class="row custom-row clearfix">
                <div class="col-md-12 custom-text">
                    @Html.LabelFor(m => m.SectionName)
                    @Html.TextBoxFor(m => m.SectionName, new { @class = "clsTextBox required", @id = "" })
                    <i class="fa validationResult"></i>
                </div>
            </div>
            <div class="btn-wrapper clearfix">
                <div class="pull-right">
                    <input type="button" value="Cancel" class="btn-grey" onclick="adminView.sections.editCancel()" />

                </div>
                <div class="pull-right">
                    <input class="btn-blue" type="button" value="Save" onclick="adminView.sections.saveSections()" />
                </div>
            </div>
        }
    </div>
</div>