@{
    ViewBag.Title = "HASHINY INTERNATIONAL MATRIC SCHOOL";
}

<div class="admin-form">
    <div class="col-md-3 left-panel column">
        <button type="button" class="btn-expand-collapse">
            <i class="fa  fa-angle-right"></i>
        </button>
        <div class="row">
            <ul class="left-menu">
                <li><a href="#" class="actionAdminLeft" linkid="6" id="">Academic Year</a></li>
                <li><a href="#" class="actionAdminLeft" linkid="1" id="clsClasses">Classes</a></li>
                <li><a href="#" class="actionAdminLeft" linkid="2" id="">Sections</a></li>
                <li><a href="#" class="actionAdminLeft" linkid="3" id="">Classes + Sections</a></li>
                <li><a href="#" class="actionAdminLeft" linkid="4" id="">Subjects</a></li>
                <li><a href="#" class="actionAdminLeft" linkid="5" id="">Classes + Subjects</a></li>
                <li><a href="#" class="actionAdminLeft" linkid="7" id="">Classes Incharges</a></li>
            </ul>
        </div>

    </div>
    <div class="col-md-9 right-panel column">
        <div class="" id="divEditContainer" style="display:none"></div>
        <div class="" id="divViewContainer" style="display:none"></div>
    </div>
</div>
@Scripts.Render("~/Scripts/Application/AdminView.js")
