@model HSchool.Business.Models.Section
<h1 class="page-head-line" id="headAdminEditText">Add/Edit Section </h1>
@using (Html.BeginForm("EditSection", "Admin", FormMethod.Post, new { @id = "formSectionEdit" }))
{
    
}
