@model HSchool.Business.Models.Section
<h1 class="page-head-line" id="headAdminEditText">Add/Edit Section </h1>
@using (Html.BeginForm("EditSection", "Admin", FormMethod.Post, new { @id = "formSectionEdit" }))
{

    <div class="row custom-row clearfix">
        <div class="col-md-12 custom-text">
            @Html.TextBoxFor(m => m.SectionName, new { @class = "clsTextBox", @id = "" })
            @Html.LabelFor(m => m.SectionName)
            <i class="fa fa-exclamation-circle" style="display:none"></i>
            <i class="fa fa-check-circle"></i>
            <em class="error-msg">Error Message</em>
        </div>
    </div>

    <div class="btn-wrapper clearfix">
        <div class="pull-left">
            <input class="btn-blue" type="submit" value="Save" />
        </div>
        <div class="pull-left">
            <input type="button" value="Cancel" class="btn-blue" onclick=""/>
        </div>
    </div>

}
