@model HSchool.Business.Models.RolePrivilegeForm
<div class="row">
    <h1>Roles & Privilege</h1>
</div>
<div class="row">
    <div class="col-lg-12">
        @Html.TextBox("txtModuleName", string.Empty, new { @class = "clsTextBox", @id = "txtModuleName", @onclick = "adminView.rolesPrivileges.roleBoxFocus()" })
        <div class="divModulesContainer" style="display:none;">
            @if (Model != null && Model.Modules.Count > 0)
            {
                <ul>
                    @foreach (var item in Model.Modules)
                    {
                        <li moduleid="@item.ModuleId" class="clsAppModuleItem">@(item.ModuleName)</li>
                    }
                </ul>
            }
        </div>
        @Html.Label("lblModuleName", "Module Name")
        <i class="fa fa-exclamation-circle" style="display:none"></i>
        <i class="fa fa-check-circle"></i>
        <em class="error-msg">Error Message</em>
    </div>
</div>
<div class="row">
    <div id="divRolesPrivilegesContainer">

    </div>
</div>

<script id="tempRolesPrivilege" type="text/x-jsrender">
    <table class="col-lg-12">
        <thead>
            <tr>
                <th></th>
                {{for Instance.Privileges}}
                <th>{{:PrivilegeName}}</th>
                {{/for}}
            </tr>
            {{for Instance.Roles}}
            <tr>
                <td>{{:RoleName}}</td> 
                {{for #Parent.Privileges}}
                <th><input type="checkbox" /></th>
                {{/for}}            
            </tr>
            {{/for}}
        </thead>
    </table>
</script>