@model HSchool.Business.Models.RolePrivilegeForm
<div class="row">
    <h1>Roles & Privilege</h1>
</div>
<div class="row">
    <div class="col-lg-12">
        @Html.TextBox("txtModuleName", new { @class = "clsTextBox", @id = "txtModuleName", @onclick = "adminView.rolesPrivileges.roleBoxFocus()", @onblur = "adminView.rolesPrivileges.roleBoxBlur()" })
        <div class="divModulesContainer">
            @if (Model != null && Model.Modules.Count > 0)
            {
                <ul>
                    @foreach (var item in Model.Modules)
                    {
                        <li moduleid="@item.ModuleId" onclick="">@(item.ModuleName)</li>
                    }
                </ul>
            }
        </div>
        @Html.Label("lblModuleName", "Module Name")
        <i class="fa fa-exclamation-circle" style="display:none"></i>
        <i class="fa fa-check-circle"></i>
        <em class="error-msg">Error Message</em>
    </div>
</div>
<div class="row">
    <div id="divRolesPrivilegesContainer">

    </div>
</div>

<script id="tempRolesPrivilege" type="text/x-jsrender">
    <table class="col-lg-12">
        <thead>
            <tr>
                <th>Roles & Privileges</th>
                <th>All</th>
                <th>Edit</th>
                <th>View</th>
                <th>Delete</th>
            </tr>
            {{for RolesPermissions}}
            <tr>
                <td>{{:RoleName}}</td>
                {{for Privileges}}
                <td><input type="checkbox" />{{:PrivilegeName}}</td>
                {{/for}}
            </tr>
            {{/for}}
        </thead>
    </table>
</script>