@{
    ViewBag.Title = "HASHINY INTERNATIONAL MATRIC SCHOOL";
}
<<<<<<< HEAD
<div class="row admin-form">    
    <div class="col-md-2 left-panel">            
        <ul class="left-menu">
            <li><a href="#" class="actionAdminLeft" linkid="1" id="clsClasses">Classes</a></li>
            <li><a href="#" class="actionAdminLeft" linkid="2" id="">Sections</a></li>
            <li><a href="#" class="actionAdminLeft" linkid="3" id="">Classes + Sections</a></li>
            <li><a href="#" class="actionAdminLeft" linkid="4" id="">Roles</a></li>
            <li><a href="#" class="actionAdminLeft" linkid="5" id="">Community Master</a></li>
            <li><a href="#" class="actionAdminLeft" linkid="6" id="">Settings</a></li>
        </ul>

        <div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>

=======
<div class="container admin-form">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li><a href="#" class="actionAdminLeft" linkid="1" id="clsClasses">Classes</a></li>
                        <li><a href="#" class="actionAdminLeft" linkid="2" id="">Sections</a></li>
                        <li><a href="#" class="actionAdminLeft" linkid="3" id="">Classes + Sections</a></li>
                        <li><a href="#" class="actionAdminLeft" linkid="4" id="">Subjects</a></li>
                        <li><a href="#" class="actionAdminLeft" linkid="5" id="">Classes + Subjects</a></li>
                        <li><a href="#" class="actionAdminLeft" linkid="6" id="">Community Master</a></li>
                        <li><a href="#" class="actionAdminLeft" linkid="7" id="">Roles</a></li>
                        <li><a href="#" class="actionAdminLeft" linkid="8" id="">Roles & Privilege</a></li>                        
                        <li><a href="#" class="actionAdminLeft" linkid="9" id="">Settings</a></li>
                    </ul>
                </div>
            </div>
>>>>>>> root
        </div>
     </div>

    <div class="col-md-10 right-panel">
        <div class="" id="divEditContainer"></div>
        <div class="" id="divViewContainer"></div>
     </div>  
</div>
