<script type="text/x-jsrender" id="gridViewTemplate">
    <div class="">
        <table class="table">
            {{if Columns}}
            <thead>
                {{for Columns}}
            <th class="">{{:Name}}</th>
            {{/for}}
            </thead>
            {{/if}}
            {{for Rows}}
                {{for Cells}}
                    <td class="">
                        {{:Value}}
                    </td>
                {{/for}}
            {{/for}}
        </table>
    </div>
</script>