@model HSchool.Business.Models.ApplicationForm
<div class="form-group-expand-div admin-form">
    <h2>Student Information</h2>
    <div class="form-container">
        <div class="row custom-row clearfix">
            <div class="col-md-4 custom-text">

                @Html.DropDownListFor(m => m.StudentClass[0].ClassId, Model.ListClasses, new { @id = "", @class = "selectpicker show-tick required" })
            </div>
            <div class="col-md-8 academic">
                @Html.LabelFor(m => m.StudentClass[0].AcademicYear) :
                @Html.DisplayFor(m => m.AcademicYear.AcademicYearDisplay)
                @Html.HiddenFor(m => m.StudentClass[0].AcademicYear, new { @Id = "txtAcademicYear" })
            </div>
        </div>
    </div>
</div>
