@model HSchool.Business.Models.ApplicationForm
<div class="container">
    <h1>Application Details</h1>
    @Html.Partial("_ApplicationForm", Model)
    @Html.Partial("_OfficeForm", Model)
</div>