
<div class="container">
    <div class="form-group-expand-div admin-form">
        <h2>Online Application Status</h2>
        <div class="form-container">
            <div class="row custom-text">
                <div class="col-lg-6">
                    <input type="text" id="txtApplicationId" />
                    <label for="txtApplicationId">Application #</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" id="txtApplicationId" class="datepicker" />
                    <label for="txtApplicationId">DOB</label>
                </div>
            </div>
            <div class="row custom-text">
                <div class="col-lg-12">
                    <input type="button" value="View" class="btn-blue" />
                </div>
            </div>
        </div>
    </div>
</div>
