@model int


    <div class="center-wrapper body-padding">
    <h2>You have successfully applied.</h2>
    <div>Please note your application id for your future reference.</div>
    <h1>@Model</h1>
</div>
