body {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    background-color:#02558c;
}

/* COMMON */
header {background-color: #F0677C; color: #fff; padding:10px; text-align: right}
h1,h2 { text-transform:uppercase;  margin:0}
h1 {font-size:22px; color:#06c7e8; text-shadow:1px 1px 1px rgba(255,255,255,0.5); padding:20px 0}
h2 {font-size:16px; color:#333; border:#e3e3e3 1px solid; border-width:1px 1px 0 1px; background-color:#f5f5f5; border-top-left-radius:5px; border-top-right-radius:5px; padding:15px; font-weight:600 }
.highlight-bg {background-color:#69ace2}

/* CONTAINERS */
.content-wrapper {background-color:#fff}
.left-panel {box-shadow:inset -2px -1px 2px 2px rgba(0,0,0,.2);}
.right-panel {background-color: #fff; padding-bottom:20px}
.left-menu {list-style: none;  margin:0; padding:0}
.btn-wrapper { margin-bottom:20px;}
.form-container {background-color:#f5f5f5; border:#e3e3e3 1px solid; border-bottom-left-radius:5px; border-bottom-right-radius:5px;  padding:15px; margin-bottom:20px}
 #divEditContainer, #divViewContainer {margin-top:15px}

/*#divEditContainer, #divViewContainer {border-radius:3px; background-color:#f1f1f1; margin-top:15px; padding:15px; border:#ccc 1px solid}*/

/* Left Menu */
.left-menu li a {
    display: block;
    padding: 8px 5px 8px 20px;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);   
    font-weight:600;
    color:#06c7e8;
    text-transform:uppercase;
    text-decoration:none;
}

.left-menu li a:hover {   
    color:#02558c !important;
    cursor: pointer;
    color: #fff;
}

.left-menu li a.selected {
    background-color: #c36464;
}

a.navbar-brand, a.navbar-brand img{outline:none; text-decoration:none}

.navbar-brand {
    width: 250px;
    padding:10px 0 0 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
}




/* USER SETTINGS DIV */
.user-settings-wrapper {
    margin-top: 10px;
    color:#004554;
    font-size:18px;
    text-shadow:1px 1px 1px rgba(0,201,253,0.9);
    padding:0;
}
.user-settings-wrapper li {
    display: inline-block;
}
.user-settings-wrapper img {
    height: 64px;
    width: 64px;
    border: 1px solid #000000;
}

#user-photo {margin-left:10px}
#user-photo img {border:#fff 5px solid; border-radius:100px; box-shadow:1px 1px 5px 3px rgba(68,49,43,0.6)}

/* MENU LINKS SECTION*/

.menu-section {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e1e1e1+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e1e1e1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e1e1e1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#e1e1e1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
   
}

#menu-top a {
    color: #06c7e8;
    font-weight:600;
    text-decoration: none;
     padding: 10px 10px 10px 10px;
    text-transform: uppercase;
    text-shadow:1px 1px 1px rgba(0,0,0,rgba(255,255,255,0.9))
}

#menu-top a.menu-top-active {
   /* background-color: #C36464;*/
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,06c7e8+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cdf8ff+0,06c7e8+100 */
background: #cdf8ff; /* Old browsers */
background: -moz-linear-gradient(top,  #cdf8ff 0%, #06c7e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #cdf8ff 0%,#06c7e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #cdf8ff 0%,#06c7e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdf8ff', endColorstr='#06c7e8',GradientType=0 ); /* IE6-9 */
color:#02558c !important;
}
#menu-top a.menu-top-active:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#06c7e8+0,cdf8ff+100 */
background: #06c7e8; /* Old browsers */
background: -moz-linear-gradient(top,  #06c7e8 0%, #cdf8ff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #06c7e8 0%,#cdf8ff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #06c7e8 0%,#cdf8ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06c7e8', endColorstr='#cdf8ff',GradientType=0 ); /* IE6-9 */
color:#02558c !important;
}

.menu-section .nav > li > a:hover, .menu-section .nav > li > a:focus {
    /*background-color: #F0677C !important;*/
    color:#00212f !important;
}

.menu-section .dropdown-menu > li > a:hover, .menu-section .dropdown-menu > li > a:focus {
    background-color: #F0677C !important;
}

.navbar-inverse {
    /*background-color: #C36464;*/
    border-color: transparent;
}

.navbar-toggle {
    background-color: #F0677C;
    border: 1px solid #fff;
}

.navbar {
    margin-bottom: 0px;
    /*height: 90px;*/
    background: #02548b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#06cfee), to(#02548b));
  background-image: -webkit-linear-gradient(top, #06cfee, #02548b);
  background-image: -moz-linear-gradient(top, #06cfee, #02548b);
  background-image: -ms-linear-gradient(top, #06cfee, #02548b);
  background-image: -o-linear-gradient(top, #06cfee, #02548b);
  background-image: linear-gradient(to bottom, #06cfee, #02548b);
}
/* =============================================================
   FOOTER SECTION STYLES
 ============================================================ */
footer {
    padding:20px 10px;
    color: #fff;
    font-size: 14px; 
    box-shadow:inset 0px 5px 5px rgba(0,0,0,0.7);  
    letter-spacing:1px;
}

footer a, footer a:hover {color: #fff; text-decoration: none;}

.custom-row {margin-bottom:20px}
.custom-text {position:relative}
.custom-text input[type="text"], .custom-text input[type="password"] {
    color: #575757;
    font-size: 14px !important;
    padding: 24px 50px 14px 20px;
    line-height: 20px;
    font-family: 'Merriweather', serif;
    display: block;
    width: 100%;
    border: none;
    border: 1px solid #D5D5D5;
    border-radius: 4px;
    box-shadow: none;
}

 .custom-text input[type="text"]:focus {
        outline: none;
    }

 
.custom-text label {
    color: #939393;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    pointer-events: none;
    line-height: 20px;
    position: absolute;
    left: 30px;
    top: 20px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/*.custom-text input[type="text"]:focus ~ label, input[type="text"]:valid ~ label {
    top: 0px;
    font-size: 10px;
    color: #a4a4a4;
}*/

.custom-text input[type="text"]:focus ~ label, .custom-text input[type="password"]:focus ~ label {
    top: 0px;
    font-size: 10px;
    color: #a4a4a4;
}



.custom-text i.fa-exclamation-circle, .custom-text i.fa-check-circle {
    position: absolute;
    top: 26px;
    right: 30px;
    font-size: 18px;
}

.custom-text i.fa-exclamation-circle {
    color: #ff0000;
    z-index: 10;
}

.custom-text i.fa-check-circle {
    color: #3C5A78;
    font-size: 18px;
    z-index: 11;
}

.custom-text em.error-msg {
    color: #E3412F;
    font-size: 12px;
    line-height: 15px;
    font-style: normal;
    position: absolute;
    bottom: -20px;
    left: 15px;
}

.custom-text span.error-msg {
    color: red;
    font-size: 12px;
    line-height: 15px;
    font-style: normal;
    position: absolute;
}


/* Input Buttons */

.btn-grey, .btn-blue, a.btn-grey, a.btn-blue {
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    border-radius:4px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-decoration:none;
    border:0;
    line-height:16px;
}

.btn-blue{
   
    /*background-color: #3C5A78;
    border: #3C5A78 1px solid;*/
    color:#004554;
    text-shadow:1px 1px 1px rgba(0,201,253,0.9);
    background: #02548b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#06cfee), to(#02548b));
  background-image: -webkit-linear-gradient(top, #06cfee, #02548b);
  background-image: -moz-linear-gradient(top, #06cfee, #02548b);
  background-image: -ms-linear-gradient(top, #06cfee, #02548b);
  background-image: -o-linear-gradient(top, #06cfee, #02548b);
  background-image: linear-gradient(to bottom, #06cfee, #02548b);
}

.btn-grey {
color:#02558c;
text-shadow:2px 2px 1px rgba(255,255,255,0.5);
border:#ccc 1px solid;
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efefef+0,c4c4c4+100 */
background: rgb(239,239,239); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(239,239,239,1) 0%, rgba(196,196,196,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(196,196,196,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(239,239,239,1) 0%,rgba(196,196,196,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */
}

.table {box-shadow:0px 0px 4px 4px rgba(0,0,0,0.1)}
.visiblecheck {margin:30px 0 10px 0}


.progress {
    height: 8px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

/* deropdown */
.custom-list, .ulListBox, .divModulesContainer {position:absolute; z-index:100; margin-top:-2px; background-color:#fff; border:#D5D5D5 1px solid; border-width:0 1px 1px 1px; padding:10px; border-bottom-left-radius:3px; border-bottom-right-radius:3px} 
.custom-list {width:96.9%;}
.ulListBox {width:94.9%;}
.divModulesContainer {width:100%}
.custom-list ul, ul.ulListBox, .divModulesContainer ul {padding:0; list-style:none}
.custom-list ul li, ul.ulListBox li, .divModulesContainer ul li {padding:5px 10px;}
.custom-list ul li:hover, ul.ulListBox li:hover, .divModulesContainer ul li:hover {background-color:#f1f1f1; cursor:pointer}

/* CUSTOM CHEKBOX */
.custom-check [type="checkbox"]:not(:checked),[type="checkbox"]:checked {opacity:1}
.custom-check [type="checkbox"] + label {display:block; margin-bottom:0}
.custom-check [type="checkbox"]:not(:checked) + label > span, [type="checkbox"]:checked + label > span {top:0px}
.custom-check [type="checkbox"] + label > span {position:absolute; left:0; top:0px; border:1px solid #d5d6d6; border-radius:2px; outline:none}
.custom-check [type="checkbox"]:not(:checked) + label > span > span {opacity:0; transform: scale(0);}
.custom-check [type="checkbox"]:checked + label > span > span {opacity:1; transform: scale(1); position:relative}

/* Login */
.login-div {background: url('Images/building.jpg') no-repeat left top; box-shadow:1px 2px 4px 3px rgba(0,0,0,0.4)}
.login-wrapper {min-height:300px; width:40%; margin:20px auto; padding:50px ; background-color:#fff; border-radius:5px}

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
    .user-settings-wrapper {       
        float: right;
    }
}

@media only screen and (max-width: 767px) {
}

